<mat-card *ngFor="let course of courses" class="course-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{course.description}}</mat-card-title>
    </mat-card-header>

    <img mat-card-image [src]="course.iconUrl">
  
    <mat-card-content>
      <p>
        {{course.longDescription}}
      </p>
    </mat-card-content>

    <mat-card-actions class="card-action">
     
        <button mat-raised-button color="primary" [routerLink]="['/courses',course.id]">View</button>
        <button mat-raised-button color="accent"  (click)="editCourse(course)">Edit</button>

    </mat-card-actions>
  </mat-card>
  