
<h2 mat-dialog-title>{{course.description}}</h2>

<mat-dialog-content [formGroup]="form">
    <mat-form-field>
      <input matInput placeholder="Course Description" formControlName="description">
    </mat-form-field>

    <mat-form-field>
      <mat-select placholder="Select Category" formControlName="category">
        <mat-option value="BEGINNER">
          Begginer
        </mat-option>
        <mat-option value="ADVANCED">
          Advanced
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" fromControlName="releasedAt">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <textarea matInput
                  formControlName="longDescription"></textarea>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="closeDialog()">Close</button>
    <button class="mat-raised-button" (click)="save()">Save</button>
  </mat-dialog-actions>

      




